body {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6) ), url(../img/background.png);
    background-color: rgba(0, 0, 0,.3);
    background-size: cover;
/*    background-repeat: ;*/
}

.conteiner {
    width: 1366px;
    margin: 0 auto;
    font-family: 'Poppins' , sans-serif; 
}

.holidays {
    padding: 0 153px;    
    color: white;
}

.header {
    padding: 30px 0;
    
}

.logo {
    width: 46px;
    height: 44px;
    float: left;
    content: url(../img/logo.png);
}

.title {
    width: 105px;
    display: inline-block;
    font-size: 26px;
    text-transform: uppercase;
    box-sizing: border-box;
    font-family: 'Ubuntu' , sans-serif;
    font-weight: bold;
}

.small-text {
    font-size: 17px;
    position: relative;
    top: -10px;
}

a[href="http://www.milanholidays.in/"] {
    margin-left: 15px;
}

.contact {
    float: right;
    padding-top: 8px;
    font-weight: 600;
    font-size: 18px;
}

.number {
    padding-left: 90px;
}

.items-tour {
    float: left;
    margin-right: 63px;
    margin-bottom: 60px;
}

.photo-tour > img {
    border: 2px solid black;
    border-image: linear-gradient(to top, black 0%, #adf2f7 100%);
    border-image-slice: 1;
}

.items-tour a > p {
    padding-top: 16px;
    text-align: center;
    font-weight: 500;
}


.items-tour:nth-child(3n) {
    margin-right: 0;
}

.footer p {
    text-align: center;
    font-size: 12px;
    padding-bottom: 20px;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #f26522;
}

.logo:hover {
    content: url(../img/logo-hover.png);
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}